::-webkit-scrollbar{
    width: 10px;
    height: 50%;
}

::-webkit-scrollbar-track{
    background:none;
}

::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background-color: white;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}


#navrow{
   /* background-image: linear-gradient(45deg, #434d8d, #700000);
*/


}

body{
    /*background-color: rgb(240, 240, 240) !important;*/
    background-color: black !important;
    background-size: 50px 50px;
background-image:
  linear-gradient(to right, grey 1px, transparent 1px),
  linear-gradient(to bottom, grey 1px, transparent 1px);
}

#title-name-div{
    left: 0;
    display: flex;
    position: absolute;
}

#title-name-div h2{
    font-weight: 100;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#chat-text{
    font-size: 15px;
}

#chat-datetime{
    font-size: 10px;
}

#boot-card{
    background-color: black;
    overflow-y: scroll;
    height: 50vh;
}



.ind-chat-box span{
    font-size: 10px;
    float: right;
}
#user-area li{
    list-style: none;
}

#user-area li::before{
    padding-right: 1em;
    content: "\2022";
    color: green;
}
/*
#connect-disconnect{
    right: 0;
    /* float: right; */
    /*
    position: absolute;
    padding: 1em;
}
*/

#connect-disconnect{
    display: flex;
}

#connect-disconnect button{
    border: 2px solid transparent;
    background-color: transparent;
}

#card-header-id{
    display: flex;
    justify-content: space-between;
}

#user-list{
    overflow-y: scroll;
}

#title-text{
    font-size: 25px;
    font-style: italic;
    letter-spacing: 0.2em;
    position: absolute;
    padding: 20px;
    color: white;
}

#send{
    width: 100%;
    color: white;

    letter-spacing: .2em;
    font-size: 15px;
    border: 1px solid white;
}

#msg-form{
    margin: 0;
}

#submit-div{
    display: flex;
    justify-content: center;
}


#chat-card-footer{
    background-color: black;
    color: white;
}

#typing{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 100;
    bottom: 0;
}

.ind-chat-box{
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
    animation-name: init;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background-color: white;
}
@keyframes init {
    0% {
        box-shadow: 0 0 5px rgb(253, 253, 253);
    }

    25%{
        box-shadow: 0 0 10px rgb(255, 145, 145);
    }

    50% {
        box-shadow: 0 0 15px red;
    }

    75%{
        box-shadow: 0 0 10px rgb(255, 145, 145);
    }

    100%{
        box-shadow: 0 0 5px rgb(255, 255, 255);
    }
}


